@using Notepad.Models
@model Record

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Добавление</title>
</head>
<body>
    <div>
        <h3>Форма добавления записи</h3>
    
    </div>
</body>
</html>